.allpcard{
    background-color: rgb(255, 255, 255) !important;
    border-radius: 10px;
}

h1,h2,h4{
    font-family: 'Times New Roman', Times, serif;
}
.hb{
    border-radius: 0px;
    background-color: black;
    color: white;
    height: 40px;
}

.hb:hover{
    background-color: white;
    color: black;
}

.footer{
    height: 100px;
    background-color: rgb(0, 0, 0) !important;
    position: sticky;

}

.home{
    height: 640px;
}
.header{
    background-color: rgb(0, 0, 0) !important;
}

.title2{
    font-family: 'Kenia', sans-serif;
}
.title1{
    font-family: 'Black Ops One', cursive;
}
.get{
    font-family: 'Yeseva One', sans-serif;
}
.box{
    box-shadow: 10px 10px 10px 10px black;
}
.navbar-toggler-icon {
    background-color: rgb(255, 255, 255);
  }
  

